### Rule
1. If each row is having same items repeated for the columns, then you just need 1 loop
2. If the items in each row changes with change in column then you need 2 loops

In [5]:
n=5
for i in range(n):
    print('* '*n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
n=3
for i in range(3):
    print((str(n)+' ')*n)

3 3 3
3 3 3
3 3 3

In [13]:
n=5
for i in range(n):
    print((str(i+1)+' ')*n)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [17]:
n=4
for i in range(n):
    print((chr(65+i)+" ")*(i+1))

A
B B
C C C
D D D D

In [54]:
chr(67)

'C'

In [20]:
n=5
for i in range(n):
    print('* '* (n-i))

* * * * *
* * * *
* * *
* *
*

In [52]:
# 2. If the items in each row changes with change in column then you need 2 loops
n=5

for row in range(n):
    for col in range(n-row):
        print(col+1,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [53]:
n=5
 
for i in range(n):
    print(" "*(n-i-1)+ (str(i+1)+ " ")*(i+1))

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [56]:
n=5
for i in range(n):
    print(" "*(n-i-1),end=' ')
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()

     E     E D    E D C   E D C B  E D C B A

In [57]:
n=5
for i in range(n):
    print(" "*(n-i-1),end=' ')
    for j in range(i+1):
        print(j+1,end=' ')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [64]:
n=5
k=n+(n-1)
for i in range(k):
    if i<n:
        for j in range(i+1):
            print(chr(65+j),end=" ")
    else:
        for j in range(k-i):
            print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A